<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rocks.teagantotally.heartofgoldnotifications">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.HeyEddieApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_hitchhiker_symbol"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hitchhiker_symbol"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--<meta-data-->
            <!--android:name="com.google.android.gms.car.application"-->
            <!--android:resource="@xml/automotive_app_description" />-->

        <activity
            android:name=".presentation.SplashScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:exported="false" />

        <service
            android:name=".data.services.MqttService"
            android:exported="false" />

        <receiver
            android:name=".data.services.MqttService$StartReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="rocks.teagantotally.heartofgoldnotifications.data.services.MqttService.start" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
